
nav, footer {
    background: bisque;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    max-width: 1000px;
    margin: auto;
    background: #FAFAFA;
    font-family: Helvetica;
}
